@{
    ViewData["Title"] = "Home Page";
}

<div class="RowMobileCol">
    <img src="../images/sacrament.jpeg" class="sacrament-bg" />
    <div class="button-container">
        <a class="link-button" asp-controller="Meetings" asp-action="Details">View Meetings</a>
    </div>
</div>